* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main {
  background-color: #eee;
  border-radius: 5px;
  max-width: 1300px;
  margin: 30px auto;
  position: relative;
  font-family: arial;
}
html, body {
  overflow-x: hidden;
}
#title {
  font-size: 3em;
  line-height: 2em;
  padding-top: 0.2em;
  color: #333;
  text-transform: capitalize;
  text-align: center;
}
.subtitle {
  font-size: 1.3em;
  color: #333;
  line-height: 1.2em;
  text-align: center;
}
#image {
  max-width: 100%;
  border-radius: 5px;
  display: block;
}
#img-div {
  max-width: 1100px;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px 70px;
  background-image: linear-gradient(180deg, #000, #333);
  border-radius: 4px;
  box-shadow: 0 0px 5px 0 #000;
}
#img-caption {
  text-align: center;
  line-height: 1.5em;
  padding-top: 1rem;
  color: #eee;
  font-size: 17px;
}
.first-list {
  border-right: 1px solid #808080;
  border-width: thin;
  width: 550px;
  height: 800px;
}
.second-list {
  width: 550px;
}
.first-list ul li,
.second-list ul li {
  padding-bottom: 30px;
}
#tribute-info {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  margin: 0px auto;
  color: #333;
  font-weight: 400;
  margin-bottom: 50px;
}
.second-list {
  padding-left: 60px;
}
strong {
  font-weight: 600;
}
#title-tribute {
  text-transform: capitalize;
  text-align: center;
  line-height: 1.3em;
  padding-top: 0.8rem;
  margin-bottom: 1em;
  color: #383838;
}
i {
  font-size: 20px;
  color: #383838;
  padding-bottom: 40px;
}
p {
  text-align: center;
}
footer {
  font-size: 0.8em;
  color: #303030;
  padding-top: 40px;
  padding-bottom: 30px;
  border-top: 1px solid #808080;
  max-width: 100%;
  text-align: center;
}
a {
  color: #663399;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
aside {
  padding-bottom: 30px;
}
@media screen and (max-width: 1125px) {
  #tribute-info {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    margin-bottom: 50px;
    max-width: 100%;
  text-align: center;
  }
  .second-list {
    padding-left: 0;
  }
  .first-list {
    border-right: none;
    width: 700px;
    height: 750px;
    margin: 0 auto;
    max-width: 100%;
  }
  li {
    list-style: none;
  }
  .second-list {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
  text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .first-list ul li{
    font-size: 20px;
  }
  .second-list ul li{
    font-size: 20px;
  }
  #title {
    font-size: 2.2em;
  }
  .first-list {
    height: 600px;
  }
}
@media screen and (max-width: 653px) {
  .first-list {
    height: 650px;
  }
}
@media screen and (max-width: 596px) {
  .first-list {
    height: 680px;
  }
}
@media screen and (max-width: 490px) {
  .first-list {
    height: 700px;
  }
  #title {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 452px) {
  .first-list {
    height: 730px;
  }
}
@media screen and (max-width: 451px) {
  .first-list {
    height: 750px;
  }
}
@media screen and (max-width: 420px) {
  .first-list {
    height: 780px;
  }
  .subtitle {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 415px) {
  .first-list {
    height: 800px;
  }
}
@media screen and (max-width: 404px) {
  .first-list {
    height: 820px;
  }
}
@media screen and (max-width: 399px) {
  .first-list {
    height: 850px;
  }
  #title-tribute {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 365px) {
  .first-list {
    height: 880px;
  }
  #img-caption {
    font-size: 0.8rem;
  }
  i {
    font-size: 1.1rem;
  }
  p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 335px) {
  .first-list {
    height: 900px;
  }
}
@media screen and (max-width: 327px) {
  .first-list {
    height: 930px;
  }
}
@media screen and (max-width: 313px) {
  .first-list {
    height: 960px;
  }
}
@media screen and (max-width: 310px) {
  .first-list {
    height: 980px;
  }
}
@media screen and (max-width: 309px) {
  .first-list {
    height: 1000px;
  }
}
@media screen and (max-width: 298px) {
  .first-list {
    height: 1035px;
  }
}
@media screen and (max-width: 270px) {
  .first-list {
    height: 1055px;
  }
}
@media screen and (max-width: 268px) {
  .first-list {
    height: 1075px;
  }
}
@media screen and (max-width: 263px) {
  .first-list {
    height: 1095px;
  }
}
@media screen and (max-width: 253px) {
  .first-list {
    height: 1115px;
  }
}
@media screen and (max-width: 250px) {
  .first-list {
    height: 1135px;
  }
}@media screen and (max-width: 234px) {
  .first-list {
    height: 1165px;
  }
}